@charset "UTF-8";

@font-face {
    font-family:'dancing';
    src: url(../fontes/DancingScript-Regular.ttf);
}

@font-face {
    font-family: 'poetsen';
    src: url(../fontes/PoetsenOne-Regular.ttf);
}
@font-face {
    font-family: 'baloo';
    src: url(../fontes/BalooThambi2-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    }

.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    font-family: 'baloo';
    font-size: large;
}   

.container2{
   display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    font-family: 'baloo';
    font-size: large; 
} 

.cont3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.par{
    color: rgb(32, 117, 197);
}

body{
    background-image: url('./img.jpg');
    width: 100vw;
}

.p{
    font-family: 'baloo';
}

.headerpaia{
    padding-top: 30px;
    padding: 30px;
    background-image: url('./fundoazulsolido.jpg') ;
    margin: 0;
    width: 100%;
    height: 10%;
    align-items: center;
}

.logoneed{
    mask-image: url('./imagem_2024-05-23_142718185.png');
}

.t1{
    color:rgb(32, 117, 197);
    font-family: 'baloo';
}

h1{
    text-align: center;
    border-radius: 10px;
    text-align:center;
    width: 100%;
}

.t2{
    font-family: 'poetsen';
    font-size: 30px;
    border-bottom: gray 2px solid;
    color: orange;
}

h2{
    margin-bottom: 20px;
}

.t3{
    color: orange;
}

.quadrado1{
height: 800px;
width: 400px;
border-radius: 15px;
background: rgb(255, 255, 255);
padding-bottom: 5px;
padding-top: 5px;
display:flex;
align-items: center;
flex-direction: column;
justify-content: start;
box-shadow: 8px 8px 22px 4px rgba(68, 134, 233, 0.3);
padding: 15px;
text-align: center;
font-style: rgb(23, 76, 221);
}

.quadrado2{
    height: 700px;
    width: 400px;
    border-radius: 15px;
    background: rgb(255, 255, 255) ;
    padding-bottom: 5px;
    padding-top: 5px;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    box-shadow: 8px 8px 22px 4px rgba(68, 134, 233, 0.3);
    padding: 15px;
    text-align: center;
}

.titulo{
    background-image: url(./fundobrancosolido.jpg);
    margin: 0;
    width: 100%;
    height: 10%;
    border-bottom: 3px orange solid;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding: 30px;
}

